Source: xfce4-squeezebox-plugin
Section: unknown
Priority: extra
Maintainer: Hakan Erduman <smultimeter@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: xfce4-squeezebox-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
