Source: xfce4-squeezebox-plugin
Section: X11
Priority: optional
Maintainer: Hakan Erduman <hakan.erduman@web.de>
XSBC-Original-Maintainer: Hakan Erduman <hakan.erduman@web.de>
Build-Depends: debhelper (>= 5), autotools-dev, libdbus-glib-1-dev, libexo-0.3-dev (>= 0.3.2), xfce4-panel-dev (>= 4.4.1), libnotify-dev (>=0.4.4)
Standards-Version: 3.7.2

Package: xfce4-squeezebox-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: rhythmbox, mpd, gmpc, quodlibet, xfmedia
Description: Media player control plugin for the Xfce panel
 Remote control rhythmbox, mpd, quodlibet and xfmedia 
 from the panel. Show album art popups and have media key
 response.
 
