Source: xfce4-squeezebox-plugin
Section: x11
Priority: optional
Maintainer: Hakan Erduman <Hakan@Erduman.de>
Build-Depends: cdbs, debhelper (>= 5), autotools-dev, libgtk2.0-dev, libxfcegui4-dev, libxfce4util-dev, xfce4-panel-dev (>= 4.4), libxfconf-0-dev
Standards-Version: 3.7.2

Package: xfce4-squeezebox-plugin
Architecture: any
Depends: ${shlibs:Depends}
Recommends: 
Suggests: rhythmbox, mpd, gmpc, quodlibet, xfmedia
Description: Media player control plugin for the Xfce panel
 Remote control various media players from the panel. 
 Show album art popups and have media key response.

